<div class="container mt-5">
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <%= render @patient %>

  <div class="card-footer">
      <div class="d-flex justify-content-between">
        <%= link_to "Edit this patient", edit_patient_path(@patient), class: "btn btn-warning" %>
        <%= link_to "Back to Patients", patients_path, class: "btn btn-secondary" %>
        <%= button_to "Destroy this patient", @patient, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </div>
</div>
